.container-det {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-container {
    display: block;
    padding: 40px;
    gap: 20px;
    border-radius: 20px;
    background-color: #fff;
    max-width: 80%;
    margin: 20px auto;
}

.details-top {
    display: flex;
    margin: auto;
    justify-content: center;
}

.details-bottom {
    padding: 10px 50px;
    border-top: #6c757d solid 1px;
}

.img-details {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    padding-bottom: 15px;
    margin-left: 17%;
}

.details1 {
    flex: 1;
}

.details2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-nom {
    font-size: 200%;
    font-weight: bold;
    margin: auto;
    text-transform: uppercase;
}

.details-price {
    font-size: 170%;
    font-weight: bold;
    color: black;
    margin-bottom: auto;
}

.details-btn {
    max-width: 80%;
    background-color: rgb(248,129,129);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.details-stock {
    font-size: 14px;
    color: #6c757d;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

@media only screen and (max-width: 758px){
    .details-container {
        display: block;
        padding: 40px;
        gap: 20px;
        border-radius: 20px;
        background-color: #fff;
        max-width: 60%;
        margin: 20px auto;
    }

    .details-top {
        display: flex;
        margin: auto;
        justify-content: center;
        flex-flow: column;
        align-items: center;
    }

    .img-details {
        max-width: 60%;
        height: auto;
        border-radius: 20px;
        padding-bottom: 15px;
    }

    .details-btn {
        max-width: 80%;
        background-color: rgb(248,129,129);
        color: #fff;
        margin: 10px auto;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
    }
}