.item-list-container {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 50px;
    margin: 30px 80px;
}

.item-list-container h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto
}