.item-list-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item-list-container h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto
}

.spinner-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 6px solid rgb(248,129,129);
    border-top: 6px solid #123abc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

