.item {
    box-shadow: 0 4px 8px 0 black;
    border-radius: 30px;
    background-color: white;
    max-width: 300px;
    margin: auto;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item-img {
    width: 80%;
    margin-top: 30px;
    border-radius: 30px;
}

.item-nom{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.item-price {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: black;
}

.item .item-btn {
    background-color: rgb(248,129,129);
    display: block;
    margin: 10px auto;
    color: #fff;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
}

.item .item-stock {
    width: 100%;
    border-top: solid lightslategrey 1px;
    padding-top: 10px;
}

.item .item-stock span {
    color: lightslategray;
}

.item:hover {
    box-shadow: 0 0 10px rgb(248,129,129);
    scale: 1.05;
}